<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Websocket</title>
</head>
<body>
<form onSubmit="return false;">
    <h4>Input</h4>
    <input type="text" placeholder="Message" name="message" value="" />
    <input type="button" value="send" onClick= "send(this.form.message.value)" />
    <br/>
    <input type="text" placeholder="Data" id="dataBox" style="text-transform: uppercase" name="data" value=""/>
    <input type="button" value="send" onClick= "send(parseHexString(this.form.data.value))" />
    <hr color="black" />
    <h3>Output</h3>
    <textarea id="responseText" style="width: 1024px;height: 300px;"></textarea>
</form>
</body>
<script type="text/javascript">

    setInputFilter(document.getElementById('dataBox'), function(value) {

        return /^[0-9a-f\s]*$/i.test(value) && /^(?!.*([\s])\1+).+$/.test(value) && value.split(/\s/).every(function(period) {

            return period.length <= 8;
        });
    });

    var socket;

    if(!window.WebSocket){
        window.WebSocket = window.MozWebSocket;
    }

    if(window.WebSocket){

        socket = new WebSocket("wss://localhost:8090/web-socket");
        socket.binaryType = "arraybuffer"
        socket.onmessage = function(event) {
            var ta = document.getElementById('responseText');
            ta.value += event.data+"\r\n";
        };

        socket.onopen = function(event) {

            var ta = document.getElementById('responseText');
            ta.value = "Successfully connected to server.\r\n";
        };

        socket.onclose = function(event) {

            var ta = document.getElementById('responseText');
            ta.value = "Server is disconnected.\r\n";
        };
    }else {
        alert("Your browser is not supported websocket！");
    }

    function parseArrayBuffer(str) {

        let result = [];

        let periods = str.split(" ");

        for(let i = 0; i < periods.length; i++) {

            result.push(parseInt(periods[i], 16));
        }

        return new Int32Array(new ArrayBuffer(result.length));
    }


    function send(message) {

        if(!window.WebSocket){ return; }

        if(socket.readyState === WebSocket.OPEN) {

            socket.send(message);

        } else {

            alert("Connection failure." + socket.readyState);
        }
    }


    function setInputFilter(textbox, inputFilter) {

        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {

            textbox.addEventListener(event, function() {

                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });
    }
</script>
</html>