<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
	<div style="float: right" th:fragment="logout" sec:authorize="isAuthenticated()">
		<div style="float:left">
			<span style="font-weight:bold">User: </span><span sec:authentication="name"></span>
		</div>
		<div style="float:none">&nbsp;</div>
		<div style="float:right">
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
    <h1>登录</h1>
    <form action="/doLogin" method="post">
        <table>
            <tr>
                <td>用户名:</td>
                <td><input name="username" type="text" /></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password" /></td>
            </tr>
        </table>
        <button type="submit">Enter</button>
    </form>
	<p th:each="url : ${urls}">
	    <a th:text="${url.key}" th:href="${url.value}">Client</a>
	</p>
	<div>&nbsp;</div>
	<div>
		<a href="/userinfo" th:href="@{/userinfo}">Display User Information</a>
	</div>
</body>
</html>
