<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
</head>
<body>
    <h1>登录</h1>
    <form action="/doLogin" method="post">
        <table>
            <tr>
                <td>用户名:</td>
                <td><input name="username" type="text" /></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password" /></td>
            </tr>
        </table>
        <button type="submit">提交</button>
    </form>
</body>
</html>