<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>注册</title>
</head>
<body>
    <h1>注册</h1>
    <form action="/doRegister" method="post">
        <table>
            <tr>
                <td>用户名:</td>
                <td><input name="username" type="text" /></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password" /></td>
            </tr>
        </table>
        <button type="submit">提交</button>
    </form>
</body>
</html>